  .uncompleted {
    border: 1px solid red;
    transition: all 0.2s ease-in;
  }
  
 
  .span {
    height: 10px;
    text-align: left;
    margin-top: 5px;
    width: fit-content;
    font-size: 0.9rem;
    color: red;
    line-height: 10px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.175);
  }
  
  